/* Header Area */

header {
    margin: 20px;
}
    
h1, h2 {
    letter-spacing: 4px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.logo {
    background-color: rgba(133, 128, 128, 0.7);
    border-radius: 10px;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 280%;
    text-align: center;
}

.tagline {
    margin: auto;
    margin-bottom: 20px;
    width: 695px;
}

/* navigation menu */

nav {
    font-family: 'Kanit', sans-serif;
    font-size: 200%;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.nav-bar {
    background-color: rgb(192, 216, 192);
    border-radius: 10px;
    list-style-type: none;
    margin: auto;
    padding: 0;
  }

nav a {
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }

ul {
    list-style: none;
    padding-left: 0;
}

nav a:hover {
    background-color: #c1c1c1;
    border-radius: 10px;    
}

/* content */

.image1 {
    background: url('/assets/images/dog-sit.jpg') center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 600px;
    width: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    background-color: rgba(133, 128, 128, 0.7);
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

body {
    background: url('/assets/images/DoginHand.jpeg') no-repeat 50% fixed;
    background-color: rgb(46, 46, 46);
    background-size: 100%;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

/* h2 text sections */

.how-we-train, .how-we-can-help, .locations {
    margin: auto;
    width: 90%;
}

/* footer */

h3 {
    text-align: center;
}

.social-networks {
    display: flex;
    justify-content: center;
    text-align: center;
}

#footer {
    background-color: rgb(192, 216, 192);
    border-radius: 10px;
    padding-top: 30px;
    margin: auto 0;
    width: 100%;
}

a {
    color: #000000;
    text-decoration: none;
}

/* Map */

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

iframe {
    border-radius: 10px;
    width: 400px;
}

/* media query */

@media screen and (min-width: 320px) {
    #logo {
        width: 100%;
    }
    .nav {
        display: flex;
    }

    .tagline {
        display: flex;
    }
}

/* Contact Form */

.form-section fieldset {
    border-radius: 10px;
}

.form-section {
    background-color: rgba(133, 128, 128, 0.7);
    border-radius: 10px;
    margin: auto;
    max-width: 700px;
}

#form-input {
    text-align: center;
}

#fname, #email, #phone {
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 15px auto;
    max-width: 350px;
    padding: 5px 5px;
    width: 100%;
}

/* Submit button */
button {
    background-color: #c6c6c6;
    border-color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: large;
    text-transform: uppercase;
}