/* navigation menu */

nav {
    position: fixed;
    left: 59%;
    z-index: 1;
}

#nav-bar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 250%;
    font-family: 'Kanit', sans-serif;
  }

nav a {
    text-decoration: none;
}

li {
    display: inline;
    border: 2px solid #ffffff;
}
/*
li a:hover {
    background-color: ;
}
    */
p {
    color:orange;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* footer */
.social-networks {
    color: blueviolet
}

/* dog sitting image */

#dog-sit {
    height: 800px;
    width: 100%;
    background: url("../images/dog-sit.jpg") no-repeat center center;
    border-radius: 20px;
    border-bottom-right-radius: 900px;
    border-bottom-left-radius: 900px;
    position: relative;
    bottom: 150px;
}